.logo-size{
    display: flex;
    

    img{
        display: flex;
       
        height: 70px;
    }

}

.links-logo{
    display: flex;
    
    img{
    
        display: flex;
    
        height: 16px;
        
    }
}

.yt-logo{
    display: flex;
    img{
        display: flex;
        
        height: 15px;
       
    }

}


.w-logo{
    display: flex;
    img{
        display: flex;
        
        height: 15px;
       
    }

}

.rocket-name{
    font-size: 12px;
}

.text-size{
    letter-spacing: 0.6px;
    font-size: 14px;
   font-weight: 450;

   opacity: 1;
   color: #4B5563;
 
}