.table-link{
    
display: flex;
flex-direction: row;
background-color: red;
flex-direction: row;
align-items: flex-end;




}
.link{
    display: flex;
    flex: 0.7;
    flex-direction: row;
    align-items: flex-end;
    border: 1px solid green;
}