
.widther{
min-width: 850px;
}

.table{
width: 60%;
margin-left: 280px;
margin-top: 50px;

}
.tables{
  width: 60%;
  margin-left: 280px;
  min-height: 200px;



  }
.margins{
  margin-left: 250px;
  margin-right: 250px;
   
}

.widths{
  display: flex;
  justify-content: center;
  align-items: center;
  width:80px;
  border:2px solid;

}
.emptyrow {
  height: 320px;

  width: 60%;
  margin-left: 280px;
  
}