.content-table{
 border-collapse: collapse;
 font-size: 0.9em;
 min-width: 800px;
 overflow: hidden;
}

.content-table thead tr {
    background-color: #fff;

  
}
.content-table th,
.content-table td {
    padding: 0px 20px;
}

.content-table tbody tr {
  
}

.content-table thead tr{
    font-weight: 200;

}

